<div class="page-wrapper">
	<div class="page-content--bge5">
		<div class="container">
			<div class="login-wrap">
				<div class="login-content">
          <%= form_for [@order,@note], class: 'form-horizontal' do |f| %>
            <div class="form-group">
              <%= f.label :note_content, class: 'form-control-lg' %>
              <%= f.text_area :content, class: 'form-control' %>
            </div>
              <br />
            <%= f.submit "Save", class: 'btn btn-primary btn-block' %>
          <% end %>
          <br />
          <%= link_to "Cancel", order_path(@order), class: 'btn btn-secondary btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>