<h2>Hi, <%= @user.name %></h2>

<% if !@user.orders.empty? %>
  <h4>Submitted Orders</h4>
  <table>
    <tr>
      <th>Date Requested</th>
      <th>Number of items</th>
      <th>Total Price</th>
      <th>Requested By</th> 
    </tr>
    <tr>
      <% @user.orders.each do |order| %>
        <td><%= order.created_at %></td>
        <td><%= order.line_items.count %></td>
        <td><%= order.total_price %></td>
        <td><%= order.requestor.name%></td>
      <% end %>
    </tr>
  </table>
 <% else %>
  <h4>You have no orders</h4>
<% end %>
<%= link_to 'Create Order', new_order_path %>
<br />
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>