<div class="section__content section__content--p30">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-9">
				<% if !@user.orders.empty? %>
					<h2 class="title-1 m-b-25">Orders</h2>
					<div class="table-responsive table--no-card m-b-40">
						<table class="table table-borderless table-striped table-earning">
							<thead>
								<tr>
									<th class="text-center">date</th>
									<th class="text-center">Status</th>
									<th class="text-center">Number of Items</th>
									<th class="text-center">Total Price</th>
									<th class="text-center">Requested By</th>
								</tr>
							</thead>
							<tbody>
								<% @user.orders.each do |order| %>
									<tr>
										<td class="text-center singleOrder"><%= link_to order.created_at, order_path(order), id:"orderListItem_#{order.id}" %></td>
										<td class="text-center"><%= order.status %></td>
										<td class="text-center"><%= order.line_items.count %></td>
										<td class="text-center"><%= order.total_price %></td>
										<td class="text-center"><%= order.requestor.name %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				<% else %>
					<h4>You have no orders</h4>
				<% end %>
			</div>
		</div>
	</div>
</div>