<%= form_for @order, class: 'form-horizontal' do |f| %>
<div class="table-responsive table--no-card m-b-40">
	<table class="table table-borderless table-striped table-earning">
		<thead>
			<tr>
				<th class="text-center">No.</th>
				<th class="text-center">Name</th>
				<th class="text-center">Quantity</th>
				<th class="text-center">Price</th>
				<th class="text-center">Cat No.</th>
				<th class="text-center">Vendor</th>
			</tr>
		</thead>
		<tbody>
			<%= f.fields_for :line_items, @line_items do |item| %>
			<tr>
				<td class="text-center" style="padding-top: 20px;"><%= item.index + 1%>.</td>
				<td class="text-center"><%= item.text_field :name, class: 'form-control' %></td>
				<td class="text-center"><%= item.text_field :quantity, class: 'form-control' %></td>
				<td class="text-center"><%= item.text_field :price, class: 'form-control' %></td>
				<td class="text-center"><%= item.text_field :catalogue_number, class: 'form-control' %></td>
				<td class="text-center"><%= item.text_field :vendor, class: 'form-control' %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
<%= f.hidden_field :requestor_id, value: current_user.id %>
<br/>
<%= f.submit "Submit Order", class: 'btn btn-secondary' %>
<% end %>
<br/>
<%= link_to "Cancel", user_path(current_user), class: 'btn btn-secondary' %>