<% batch = batch || false %>
<h2 class="title-1 m-b-25"><%= table_title %></h2>
<table class="table table-borderless table-striped table-earning">
  <thead>
    <tr>
      <th class="text-center">Date Requested</th>
      <th class="text-center">Status</th>
      <th class="text-center">Number of Items</th>
      <th class="text-center">Total Price</th>
      <th class="text-center">Requested By</th>
      <% if batch.present? %>
        <th lass="text-center">Batch?</th>
      <% elsif actions %>
        <th class="text-center">Actions</th>
      <% end %>
      <th class="text-center">Notes</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td class="text-center singleOrder"><%= order.date_requested %></td>
        <td class="text-center"><%= order.status %></td>
        <td class="text-center"><%= order.line_items.count %></td>
        <td class="text-center"><%= order.display_total %></td>
        <td class="text-center"><%= order.requestor.name %></td>
        <% if batch.present? %>
          <td class="text-center">
            <%= checkboxes(order, nil, batch) %>
          </td>
        <% elsif actions %>
          <td class="text-center"><%= link_to "View", order_path(order), class: "btn btn-danger", id: "viewOrder_#{order.id}" %></td>
        <% end %>
         <td class="text-center"><%= link_to "View", notes_path(note: {noteable_type: order.class, noteable_id: order.id}), class: "btn btn-success", id: "viewNotesForOrder_#{order.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
